
.container_v7 {
    display:flex;
    align-items:center;
    justify-content: center;
}
.my-checkbox-label {
    font-size: medium;
    font: bold;
}
/* #chart_v7 {

    height: 900px;
    width:700px;
    padding:20px;
} */

.svg_v7 {
    display: flex;
    justify-content: center;
    width: 650px;
    height:500px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.checkbox_row{
    display: flex;
}

#v7_explanation{
    width: 500px;
    text-align: justify;
}

.custom_checkbox{
    margin-right: 10px;
}